<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="accountService" class="com.spring.example.service.AccountServiceImpl">
<property name="accountRepository" ref="accountRepository"></property>
</bean>
<bean id="accountRepository" class="com.spring.example.repository.AccountRepositoryimpl"></bean>
</beans>